extends pug/extends/master

block content
	#main
		hr
		hr
		//- 
		.casino-box
			.heading
				.image
					a(href="#")
						img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
				.description
					h3
						a(href="#") SlotsMillion
					p stars
					a(href="#").btn.btn-default casino review
			.cell.total
				.sticker
					span.icon icon &gt;
					|  Recommended by Casino Experts
				div
					strong.title £150 + 50 Free Spins
					em.note 50% up to £100 + 50 Free Spins
			.content
				.cell.deposit
					p
						strong £10
						|  Min. Deposit
				.cell.time
					p
						strong 30 mins - 4 hours (avg)
						|  Withdrawal Time
			.fullwidth
				a(href="#").btn.btn-primary go to casino
		.casino-box.small
			.heading
				div
					.image
						a(href="#")
							img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
					div
						h3
							a(href="#") Etoro
				div
					span.rate
						strong 4
						span /5
					p stars
			.cell.total
				div
					strong.title Earn 2% Management Fee
					em.note Become a Popular Invester
			.content
				.cell.deposit
					p
						strong £50
						|  Min. Deposit
			.fullwidth
				a(href="#").btn.btn-primary visit etoro
		.casino-box.large
			.heading
				div
					.image
						a(href="#")
							img(src="images/logo-betsson.png", alt="Image description", width="140", height="140")
					div
						h3
							a(href="#") Betsson
						p Founded 2001
				div
					span.rate
						strong 5
						span /5
					p stars
			.content
				div
					h4 Did You Know?
					blockquote
						p “Betsson is one of the largest online Gaming companies owning several Netent Casinos.”
				div
					ul.description-list
						li
							h4 No. of Games
							p 400+ Games
						li
							h4 Min. Deposit
							p £10
						li
							h4 Support Options
							ul.icons-list
								li
									a(href="#").icon-mail
								li
									a(href="#").icon-chat-bubbles
								li
									a(href="#").icon-phone
						li.fullwidth
							h4 Payment Methods
							p 17 depositing options
							ul.payments-list
								li
									a(href="#")
										img(src="images/logo-visa.png", alt="Image description", width="37", height="12")
								li
									a(href="#")
										img(src="images/logo-paypal.png", alt="Image description", width="28", height="28")
								li
									a(href="#")
										img(src="images/logo-bitcoin.png", alt="Image description", width="47", height="11")
								li
									a(href="#")
										img(src="images/logo-skrill.png", alt="Image description", width="46", height="16")
								li
									a(href="#")
										span +12
			.cell.total
				div
					strong.title £150 + 50 Free Spins
					em.note 50% up to £100 + 50 Free Spins
				div
					a(href="#").btn.btn-primary Go to Betsson
		hr
		hr
