body{
	max-width: 375px;
}


.payments-list{
	overflow:hidden;
	@extend %listreset;
	li{
		float:left;
		margin:0 10px 10px 0;
	}
	a{
		border: 1px solid $theme-color-base;
		color:#4a4a4a;
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-content: center;
	    align-items: center;
		height:32px;
		width:71px;
	}
}

.casino-box{
	background:$white;
	box-shadow:0 0 2px 0 rgba(56,58,58,0.25);
	font-size: $font-size-base;
	font-weight:normal;
	line-height:1.2857;
	margin:50px;/// !!!!!!!!!!!!!!!!!!!!!!
	overflow:hidden;
	text-align:center;
	@include media(">=tablet") {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		max-width:1252px;
		text-align:left;
	}
	> div{
		&:not([class*="content"]){
			overflow:hidden;
		}
		&:last-child {
			@include media(">=tablet") {
				display:none;
			}
		}
	}
	.heading{
		border:0 solid $border-color-base;
		border-width: 0 1px 1px 0;
		float:left;
		padding:10px;
		width:120px;
		@include media(">=tablet") {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: center;
		    align-content: center;
		    align-items: center;
			border-width: 0 1px 0 0;
			// min-width:458px;
			min-width:36.5815%;
		}
	}
	.total{
		@include media(">=tablet") {
			border-width: 0;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
			flex: 1 1 auto;
			order:1;
			text-align:center;
		}
		> div{
			&:nth-child(2) {
				@include media(">=tablet") {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					justify-content: center;
					align-content: stretch;
					align-items: stretch;
					flex: 1 1 auto;
				}
			}
		}
	}
	.content{
		@include media(">=tablet") {
			min-width: 33.0671%;
		}
	}
	.deposit,
	.time{
		overflow:hidden;
		@include media(">=tablet") {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			align-content: stretch;
			align-items: stretch;
			min-height: 103px;
			// min-width: 414px;
		}
	}
	.time{
		width:100%;
	}
	.cell{
		border:0 solid $border-color-base;
		border-width: 0 0 1px;
		padding:10px 15px;
		@include media(">=tablet") {
			border-width: 0 1px 1px 0;
		}
	}
	.fullwidth{
		width:100% !important;
	}
	.image{
		margin:0 auto 10px;
		@include media(">=tablet") {
			margin:0 10px 0 0;
			min-width:140px;/// flexbox fixes
			// width:100px;
		}
	}
	h3{
		font-size: inherit;
		margin:0 0 10px;
	}
	.rate{
		display:none;
		@include media(">=tablet") {
			display:block;
		}
	}
	.title{
		display:block;
		font-size: 18px;
		margin:0 0 10px;
	}
	.note{
		font-size: 12px;
		font-style:normal;
	}
	p{
		margin:0;
	}
	strong{
		font-weight:500;
	}
	.sticker{
		background:$theme-color-add;
		display:none;
		text-align:center;
		padding:10px 15px 20px;
		@include media(">=tablet") {
			display:block;
		}
	}
}

.casino-box.small{
	@include media(">=tablet") {
		display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: stretch;
	    align-items: stretch;
		max-width: none;
		text-align:center;
		width:330px;
	}
	.heading{
		@include media(">=tablet") {
			border-width: 0 0 1px;
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: center;
		    align-items: center;
			width:auto;
		}
		div{
			&:first-child {
				@include media(">=tablet") {
					display: flex;
				    flex-direction: row;
				    flex-wrap: nowrap;
				    justify-content: flex-start;
				    align-content: center;
				    align-items: center;
				}
			}
		}
	}
	> div{
		&:last-child {
			@include media(">=tablet") {
				display:block;
			}
		}
	}
	.total{
		@include media(">=tablet") {
			border-width: 0 0 1px;
			order:0;
		}
	}
	.deposit{
		@include media(">=tablet") {
			border-width: 0 0 1px;
			min-height: 0;
		}
	}
	.image{
		float:left;
	}
}

.casino-box.large{
	@include media(">=tablet") {
		display:block;
	}
	// layout
	.heading{
		border-width: 0 0 1px;
		display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: space-between;
	    align-content: center;
	    align-items: center;
		float:none;
		width:auto;
		@include media(">=tablet") {
			border-width: 0 1px 0 0;
			display:block;
			float:left;
			text-align:center;
			width:200px;
		}
		> div{
			&:first-child {
				display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: flex-start;
			    align-content: center;
			    align-items: center;
			    text-align:left;
			    @include media(">=tablet") {
			    	display:block;
			    	text-align:inherit;
			    }
			}
		}
	}
	.content{
		display:none;
		@include media(">=tablet") {
			display:block;
			overflow:hidden;
		}
		> div{
			@include media(">=tablet") {
				padding:10px 15px 20px;
			}
			+ div{
				@include media(">=tablet") {
					border-top: 1px solid $border-color-base;
				}
			}
		}
	}
	.total{
		@include media(">=tablet") {
			background:rgba(203, 214, 210, 0.25);
			border-width: 1px 0 0;
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: center;
		    align-items: center;
			order:0;
			overflow:hidden;
			width:100%;
		}
		div{
			&:nth-child(2) {
				@include media(">=tablet") {
					display:block;
					flex:0 1 auto;
				}
			}
		}
	}
	//elements
	.image{
		margin:0 10px 0 0;
		@include media(">=tablet") {
			margin:0 auto 15px;
			width:140px;
		}
	}
	.rate{
		display:block;
	}
	h4{
		font-size: 20px;
		font-weight:normal;
		margin:0 0 10px;
	}
	dl{
		margin:0;
	}
	.description-list{
		display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	    align-content: flex-start;
	    align-items: flex-start;
		@extend %listreset;
		> li{
			padding:0 50px 20px 0;
			width:33.3333%;
		}
	}
	.icons-list{
		@extend %listreset;
		li{
			display:inline-block;
			vertical-align:middle;
		}
		a{
			color:$theme-color-base;
		}
	}
}