#header{
	position:relative;
	z-index:5;
}

.offer-header{
	background:$theme-color-add;
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
	font-size:12px;
	line-height:1.25;//15
	padding:9px 8px 10px;
	> div{
		// padding:0 3px;
		&:first-child {
			display: flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    justify-content: space-between;
		    align-content: center;
		    align-items: center;
			// font-size: 0;
			// line-height:1;
			min-width: 38px;
		}
	}
	.icon-close{
		background:$black;
		display:inline-block;
		vertical-align:top;
		height:6px;
		width:6px;
	}
	.icon-email{
		background:black;
		display:inline-block;
		vertical-align:top;
		height:10px;
		width:23px;
	}
	.content{
		letter-spacing: -0.3px;
		padding:0 9px;
	}
	p{
		margin:0;
	}
	.btn{
		box-shadow: 0 2px 4px rgba(56, 58, 58, 0.22);
		font-size: 13px;
		padding:7px 6px 9px;
		text-transform:capitalize;
		white-space: nowrap;
	}
}

.header-holder{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}