//100 = thin
//200 = extra-light
//300 = light
//400 = normal, book
//500 = medium
//600 = demi-bold, semibold
//700 = bold
//800 = heavy, extrabold
//900 = black

// @font-face {
//  font-family: 'Brother 1816';
//  src: url('fonts/Brother-1816-Light.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
// }

// @font-face {
//  font-family: 'Brother 1816';
//  src: url('fonts/Brother-1816-Regular.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
// }

// @font-face {
//  font-family: 'Brother 1816';
//  src: url('fonts/Brother-1816-Medium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
// }

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?h7czc2');
	src:url('fonts/icomoon.eot?h7czc2#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?h7czc2') format('truetype'),
		url('fonts/icomoon.woff?h7czc2') format('woff'),
		url('fonts/icomoon.svg?h7czc2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.icon-E-mail:before {
  content: "\e900";
  color: #515151;
}
.icon-Guides:before {
  content: "\e901";
  color: #515151;
}
.icon-Menu-and-Search:before {
  content: "\e902";
  color: #515151;
}
.icon-NetEnt-Bonuses:before {
  content: "\e903";
  color: #515151;
}
.icon-NetEnt-Casinos:before {
  content: "\e904";
  color: #515151;
}
.icon-NetEnt-Games-and-Jackpots:before {
  content: "\e905";
  color: #515151;
}
.icon-NetEnt-News:before {
  content: "\e906";
  color: #515151;
}
.icon-New-Casinos:before {
  content: "\e907";
  color: #515151;
}
.icon-Payments:before {
  content: "\e908";
  color: #515151;
}
.icon-Top-Monthly-Offers:before {
  content: "\e909";
  color: #515151;
}
