// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black:				#000;
$theme-color-base:	#6daf0e;
$theme-color-add:	#fed958;
$border-color-base:	#cbd6d2;
$white:				#fff;


$light-blue:		#39f;
$gray:				#999;

$base-font-sans-serif:	'brother-1816', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif:		'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color:		#515151;
$base-background-color: rgba(203,214,210,0.2);
$font-size-base:		14px;
$line-height-base:		1.5;
$base-font-family:		$base-font-sans-serif !default;

$vertical-rhythm:		($line-height-base * 1em);

// Indents
$gap: 10px;
$trim: 15px;
$trim-middle: 20px;
$trim-big: 30px;

$base-min-width: 320px;
$max-content-width: 1140px;
$max-container-width: $trim + $max-content-width + $trim;

// Links
$base-link-color:		$theme-color-base;
$base-link-hover-color: lighten($base-link-color, 10%);

// Buttons 
$btn-primary-background:		$theme-color-base;
$btn-primary-border:			$theme-color-base;
$btn-primary-color:				$white;
$btn-secondary-background:		transparent;
$btn-secondary-border:			$base-text-color;
$btn-secondary-color:			$base-text-color;
$btn-link-background:			transparent;
$btn-link-border:				transparent;
$btn-link-color:				$base-text-color;
$btn-dark-background:			$base-text-color;
$btn-dark-border:				$base-text-color;
$btn-dark-color:				$white;
$btn-font-size:					14px;
$btn-padding:					10px 11px 11px;

// Forms
$form-element-padding: 9px 10px !default;
$form-element-background: $white !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 24px;
$h2-font-size: 22px;
$h3-font-size: 24px !default;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color:		#383a3a;


$animation-speed: 0.3s;
