header#header
	.offer-header
		div
			a.icon-close(href="#")
			a.icon-email(href="#")
		div.content
			p Unlock 600 secret No Deposit Spins by subscribing to our newsletter.
		div
			a(href="#").btn.btn-dark Get Free Spins
	.header-holder
		div
			strong.logo
				a(href="#")
					img(src="images/logo.png", alt="NetEntCasino", width="163", height="28")
		div
			a(href="#").nav-opener Menu
	hr
	hr
	hr
	a(href="#").btn.btn-primary primary
	br
	br
	a(href="#").btn.btn-secondary secondary
	br
	br
	a(href="#").btn.btn-link link
	br
	br
	a(href="#").btn.btn-dark Dark